<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 100px;">
    <br/>
    <br/>
    <a class="navbar-brand" style="font-size: 50px;" href="#">Employee Form</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item nav-link active" style="font-size: 30px;" href="#">Home</a>
            <a class="nav-item nav-link active" style="font-size: 30px;" href=" # ">Features</a>
        </div>
    </div>
    <br/>
    <br/>
</nav>

<div class="bg-secondary ">
    <router-outlet></router-outlet>
</div>
<!-- 
<div style=" background-color: dimgrey; height: 400 ">

    <h5 style=" color:white">employee form </h5>

    <footer>

        <p>created by: sunil kumar jaiswal </p>
        <p>Contact mail:
            <ul>
                <li>
                    skjaiswalnitk51@gmail.com
                </li>
                <li>
                    sunil.181it148@nitk.edu.in
                </li>

            </ul>
        </p>

</div>
</footer>
<footer>
    <small>&copy; Copyright 2020 Love2Dev. All Rights Reserved</small>
</footer>
</div> -->

<div style="text-align: center;color: white;">

    <p>created by: sunil kumar </p>

    <ul>
        <li>
            skjaiswalnitk51@gmail.com
        </li>
        <li>
            sunil.181it148@nitk.edu.in
        </li>

    </ul>
    <small>&copy; Copyright 2020 Love2Dev. All Rights Reserved</small>

</div>